.example-spacer {
    flex: 1 1 auto;
}
table {
  width: 100%;
}
.comment {
  width: 30%;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.mat-cell {
  color: #ffffff;
  padding: 20px;
  font-size: 18px;
}
.bg-dark {
  background: #212121;
}
.mb-5 {
  margin-bottom: 25px
}